@font-face {
  font-family: "Oxygen";
  src: url(oxygen/Oxygen-Regular.ttf);
}

@font-face {
  font-family: "Oxygen";
  src: url(oxygen/Oxygen-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Oxygen";
  src: url(oxygen/Oxygen-Light.ttf);
  font-weight: lighter;
}

html {
  /* App */
  --border-radius: 0.25rem;
  --app-back: rgb(29 31 32);
  --app-text: #fafafa;
  --element-shadow: 0px 0px 5px 1px rgb(0 0 0 / 0.9);
  /* Selection */
  --selection-text: #f0fffe;
  --selection-bg: hsl(185 85% 46% / 0.5);
  --selection-editor-bg: hsl(185 85% 46% / 0.5);
  /* Brand */
  --brand-color-1: hsl(151 85% 44%);
  --brand-color-2: hsl(183 59% 57%);
  /* Navbar */
  --navbar-border: hsl(0 0% 25% / 0.90);
  --navbar-bg: linear-gradient(180deg, hsl(0 0% 20% / 0.9), hsl(0 0% 15% / 1.0));
  --navbar-text: rgb(231 231 231);
  --navbar-shadow: rgb(0 0 0 / 0.46);
  /* Buttons */
  --button-padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  --button-hover-shadow: 0px 0px 5px rgba(255, 255, 255, 0.15);
  /* Links */
  --link: hsl(185 85% 46%);
  --link-hover: hsl(185 83% 63%);
  --link-active: hsl(185 85% 30%);
  /* Posts */
  --post-border: hsl(0 0% 26%);
  --post-bg: hsl(0 0% 8%);
  --post-text: hsl(0 0% 100%);
  --post-shadow: hsla(0, 0%, 0%, 0.95);
  --post-title: hsl(0 0% 68%);
  --post-tags-bg: hsl(0 0% 8%);
  --post-tags-border: hsl(0 0% 15%);
  --post-tag-border: hsl(0 0% 25%);
  --post-tag-bg: hsl(0 0% 15%);
  --post-tag-text: hsl(0 0% 94%);
  --post-footer-bg: linear-gradient(180deg, hsl(0 0% 5%), hsl(0 0% 0%));
  --post-footer-border: hsl(0 0% 18%);
  --post-footer-button: hsl(0 0% 68%);
  /* Post Text Colors */
  --post-inverted-text: var(--post-bg);
  --post-inverted-back: var(--post-text);
  --post-white: #ffffff;
  --post-black: #000000;
  --post-gray: #909090;
  --post-red: #f40016;
  --post-brown: #9b6731;
  --post-orange: #db7407;
  --post-yellow: #e2d111;
  --post-olive: #789321;
  --post-lime: #74ca05;
  --post-green: #029a05;
  --post-teal: #2ca3a4;
  --post-sky: #16c2e7;
  --post-blue: #0066ff;
  --post-night: #2714cb;
  --post-purple: #9a2ac0;
  --post-pink: #e06f8b;
  /* Primary Colors */
  --primary-border-color: #00abd7;
  --primary-background: linear-gradient(180deg, #4d9ef7, #00859f);
  --primary-text: #fff;
  --primary-text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  --primary-border-color-hover: #25bae0;
  --primary-background-hover: linear-gradient(180deg, #5999df, #009dbb);
  --primary-text-hover: #fff;
  --primary-border-color-active: #0085a9;
  --primary-background-active: linear-gradient(180deg, #2268b4, #005e71);
  --primary-text-active: #fff;
  --primary-border-color-disabled: #547897;
  --primary-background-disabled: #4b6b86;
  --primary-text-disabled: #eaf2f6;
  --primary-focus-ring: 0 0 0.3rem 0.1rem rgb(71 210 255 / 50%);
  /* Secondary Colors */
  --secondary-border-color: #525252;
  --secondary-background: linear-gradient(180deg, #3a3a3a, #282828);
  --secondary-text: #fafafa;
  --secondary-text-shadow: 0px 0px 3px rgb(0 0 0 / 0.9);
  --secondary-border-color-hover: #53858d;
  --secondary-background-hover: linear-gradient(180deg, #607587, #3c5e66);
  --secondary-text-hover: #d9f2fa;
  --secondary-border-color-active: #85c2cb;
  --secondary-background-active: linear-gradient(180deg, #9db7cf, #89b0b8);
  --secondary-text-active: #002a37;
  --secondary-border-color-disabled: #717171;
  --secondary-background-disabled: #525252;
  --secondary-text-disabled: #c1c1c1;
  --secondary-focus-ring: 0 0 0.3rem 0.1rem rgba(146, 197, 212, 0.50);
  /* Success Colors */
  --success-border-color: #80bc00;
  --success-background: linear-gradient(180deg, #8db304, #5e9d2c);
  --success-text: #ffffff;
  --success-text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  --success-border-color-hover: #aae821;
  --success-background-hover: linear-gradient(180deg, #a7c53e, #67b826);
  --success-text-hover: #ffffff;
  --success-border-color-active: #7fb700;
  --success-background-active: linear-gradient(180deg, #7fa200, #5b942e);
  --success-text-active: #fff;
  --success-border-color-disabled: #a4bd6d;
  --success-background-disabled: #93a26e;
  --success-text-disabled: #f2f6ea;
  --success-focus-ring: 0 0 0.3rem 0.1rem rgb(151 223 51 / 50%);
  /* Danger Colors */
  --danger-border-color: #ff7231;
  --danger-background: linear-gradient(180deg, #df5700, #e10000);
  --danger-text: #ffffff;
  --danger-text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  --danger-border-color-hover: #ff662d;
  --danger-background-hover: linear-gradient(180deg, #eb6200, #da1000);
  --danger-text-hover: #ffffff;
  --danger-border-color-active: #e56130;
  --danger-background-active: linear-gradient(180deg, #c26400, #b40d00);
  --danger-text-active: #fff;
  --danger-border-color-disabled: #d59586;
  --danger-background-disabled: #a2796e;
  --danger-text-disabled: #f6ecea;
  --danger-focus-ring: 0 0 0.3rem 0.1rem rgb(255 111 49 / 50%);
  /* Warning Colors */
  --warning-border-color: #ecb900;
  --warning-background: linear-gradient(180deg, #f3bb17, #e39a00);
  --warning-text: #ffffff;
  --warning-text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  --warning-border-color-hover: #fcc41a;
  --warning-background-hover: linear-gradient(180deg, #f5c025, #eba91b);
  --warning-text-hover: #ffffff;
  --warning-border-color-active: #e8ac00;
  --warning-background-active: linear-gradient(180deg, #d6a412, #c28400);
  --warning-text-active: #fff;
  --warning-border-color-disabled: #c8aa71;
  --warning-background-disabled: #a28f6e;
  --warning-text-disabled: #f6f2ea;
  --warning-focus-ring: 0 0 0.3rem 0.1rem rgb(255 213 112 / 50%);
  /* Light Colors */
  --light-border-color: #e1e1e1;
  --light-background: linear-gradient(180deg, #d4d4d4, #b3b3b3);
  --light-text: #161616;
  --light-text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  --light-border-color-hover: #c9f8ff;
  --light-background-hover: linear-gradient(180deg, #b5d3ef, #94cedb);
  --light-text-hover: #005974;
  --light-border-color-active: #b5e8ef;
  --light-background-active: linear-gradient(180deg, #97bbdc, #6eb2c0);
  --light-text-active: #001c24;
  --light-border-color-disabled: #dedede;
  --light-background-disabled: #c7c7c7;
  --light-text-disabled: #151515;
  --light-focus-ring: 0 0 0.3rem 0.1rem rgba(146, 197, 212, 0.50);
  /* Info Colors */
  --info-border-color: #b849f7;
  --info-background: linear-gradient(180deg, #9e32b5, #6e1fc1);
  --info-text: #ffffff;
  --info-text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  --info-border-color-hover: #cf4efe;
  --info-background-hover: linear-gradient(180deg, #c535d2, #8132ce);
  --info-text-hover: #ffffff;
  --info-border-color-active: #8f32c4;
  --info-background-active: linear-gradient(180deg, #7f2886, #531e8b);
  --info-text-active: #fff;
  --info-border-color-disabled: #ad87bb;
  --info-background-disabled: #936ea2;
  --info-text-disabled: #f4edf7;
  --info-focus-ring: 0 0 0.3rem 0.1rem rgb(202 92 255 / 50%);
  /* Dark Colors */
  --dark-border-color: #525252;
  --dark-background: linear-gradient(180deg, #3a3a3a, #282828);
  --dark-text: #fafafa;
  --dark-text-shadow: 0px 0px 3px rgb(0 0 0 / 0.9);
  --dark-border-color-hover: #53858d;
  --dark-background-hover: linear-gradient(180deg, #607587, #3c5e66);
  --dark-text-hover: #d9f2fa;
  --dark-border-color-active: #85c2cb;
  --dark-background-active: linear-gradient(180deg, #9db7cf, #89b0b8);
  --dark-text-active: #002a37;
  --dark-border-color-disabled: #717171;
  --dark-background-disabled: #525252;
  --dark-text-disabled: #c1c1c1;
  --dark-focus-ring: 0 0 0.3rem 0.1rem rgba(146, 197, 212, 0.50);
  /* Tab Colors */
  --tab-border: #3f3f3f;
  --tab-bg: #000000;
  --tab-text: #dadada;
  --tab-active-border: #005e76;
  --tab-active-bg: linear-gradient(180deg, #357cc9, #00859f);
  --tab-active-text: #fff;
  --tab-hover-bg: linear-gradient(180deg, #0e1b2b, #021418);
  --tab-hover-text: #c5dee8;
  /* Alerts */
  --alert-primary-border: #6ba0b9;
  --alert-primary-background: linear-gradient(180deg, #47749e, #1c6470);
  --alert-primary-text: #dff3fc;
  --alert-secondary-border: #656565;
  --alert-secondary-background: linear-gradient(180deg, #4f4f4f, #373737);
  --alert-secondary-text: #fafafa;
  --alert-success-border: #91b838;
  --alert-success-background: linear-gradient(180deg, #849b1c, #4d861d);
  --alert-success-text: #f3f9e9;
  --alert-danger-border: #ea613a;
  --alert-danger-background: linear-gradient(180deg, #b95d38, #b43526);
  --alert-danger-text: #ffffff;
  --alert-warning-border: #fbbf2b;
  --alert-warning-background: linear-gradient(180deg, #cfa737, #c48224);
  --alert-warning-text: #fffef9;
  --alert-info-border: #9475c2;
  --alert-info-background: linear-gradient(180deg, #6557c3, #673a8f);
  --alert-info-text: #f5ecff;
  --alert-light-border: #e4e4e4;
  --alert-light-background: linear-gradient(180deg, #c5c5c5, #a3a3a3);
  --alert-light-text: #0e0e0e;
  --alert-dark-border: #656565;
  --alert-dark-background: linear-gradient(180deg, #4f4f4f, #373737);
  --alert-dark-text: #fafafa;
  /* Progress Bars */
  --progress-border: #4b4b4b;
  --progress-background: linear-gradient(180deg, #292929, #2f2f2f);
  --progress-text: #5d5d5d;
  --progress-primary-border-color: #12d6f6;
  --progress-primary-stripes: linear-gradient(90deg, transparent 0%, rgb(104 235 255 / 50%) 50%, transparent 100%);
  --progress-primary-background: linear-gradient(180deg, #1bb7fc, #0063a5);
  --progress-primary-text: #fff;
  --progress-primary-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.85);
  --progress-success-border-color: #9de209;
  --progress-success-stripes: linear-gradient(90deg, transparent 0%, rgb(211 255 117 / 50%) 50%, transparent 100%);
  --progress-success-background: linear-gradient(180deg, #b3c800, #2a7f00);
  --progress-success-text: #fff;
  --progress-success-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.85);
  --progress-info-border-color: #e364ed;
  --progress-info-stripes: linear-gradient(90deg, transparent 0%, rgb(255 74 226 / 50%) 50%, transparent 100%);
  --progress-info-background: linear-gradient(180deg, #b716e5, #6a15e4);
  --progress-info-text: #fff;
  --progress-info-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.85);
  --progress-warning-border-color: #fac030;
  --progress-warning-stripes: linear-gradient(90deg, transparent 0%, rgb(255 233 81 / 50%) 50%, transparent 100%);
  --progress-warning-background: linear-gradient(180deg, #efb000, #cf6a00);
  --progress-warning-text: #fff;
  --progress-warning-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.85);
  --progress-danger-border-color: #fc6d49;
  --progress-danger-stripes: linear-gradient(90deg, transparent 0%, rgb(255 163 81 / 50%) 50%, transparent 100%);
  --progress-danger-background: linear-gradient(180deg, #da5000, #e30000);
  --progress-danger-text: #fff;
  --progress-danger-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.85);
  /* Editor */
  --editor-border: hsl(0, 0%, 20%);
  --editor-border-focus: #8ec3dd;
  --editor-focus-ring: 0 0 0.3rem 0.1rem rgba(18, 140, 182, 0.50);
  --editor-shadow: 0 0 5px 1px hsla(0, 0%, 0%, 0.95);
  --editor-background: #0e0e0e;
  --editor-text: #ffffff;
  --editor-placeholder-text: #797979;
  /* Inputs */
  --file-button-border: #2e2e2e;
  --file-button-text: #ffffff;
  --file-button-bg: linear-gradient(180deg, #2f2f2f, #191919);
  --checkbox-check: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  --radio-check: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

::selection {
  color: var(--selection-text);
  background: var(--selection-bg);
}

html {
  position: relative;
  min-height: 100%;
  background: var(--app-back);
  color: var(--app-text);
}

body {
  font: 16px "Oxygen", sans-serif;
  margin-bottom: 60px;
  background: transparent;
  color: var(--app-text);
}

.button-panel {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
}

.progress-strip {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/* Links */
a, .btn-link {
  color: var(--link);
  outline: none;
}

  a:hover, .btn-link:hover {
    color: var(--link-hover);
  }

  /* the last part of this is to override some stupid Bootstrap thing */
  a:active, .btn-link:active, :not(.btn-check) + .btn-link:active {
    color: var(--link-active);
  }

/* Headers */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0.5rem 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1rem;
}

/* Buttons */
.btn {
  border-radius: var(--border-radius);
  padding: var(--button-padding);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus,
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary.focus,
.btn-success:hover, .btn-success:focus, .btn-success.focus,
.btn-danger:hover, .btn-danger:focus, .btn-danger.focus,
.btn-warning:hover, .btn-warning:focus, .btn-warning.focus,
.btn-info:hover, .btn-info:focus, .btn-info.focus,
.btn-light:hover, .btn-light:focus, .btn-light.focus,
.btn-dark:hover, .btn-dark:focus, .btn-dark.focus {
  text-shadow: var(--button-hover-shadow);
}

.btn-primary {
  border-color: var(--primary-border-color);
  background: var(--primary-background);
  color: var(--primary-text);
  text-shadow: var(--primary-text-shadow);
}

  .btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
    border-color: var(--primary-border-color-hover);
    background: var(--primary-background-hover);
    color: var(--primary-text-hover);
  }

  .btn-primary:focus, .btn-primary.focus {
    box-shadow: var(--primary-focus-ring);
  }

  .btn-primary.disabled, .btn-primary:disabled {
    text-shadow: none;
    color: var(--primary-text-disabled);
    background: var(--primary-background-disabled);
    border-color: var(--primary-border-color-disabled);
  }

  .btn-primary:not(:disabled):not(.disabled):active,
  .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    border-color: var(--primary-border-color-active);
    background: var(--primary-background-active);
    color: var(--primary-text-active);
  }

    .btn-primary:not(:disabled):not(.disabled):active:focus,
    .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-primary.dropdown-toggle:focus {
      box-shadow: var(--primary-focus-ring);
    }

.btn-secondary {
  border-color: var(--secondary-border-color);
  background: var(--secondary-background);
  color: var(--secondary-text);
  text-shadow: var(--secondary-text-shadow);
}

  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary.focus {
    border-color: var(--secondary-border-color-hover);
    background: var(--secondary-background-hover);
    color: var(--secondary-text-hover);
  }

  .btn-secondary:focus, .btn-secondary.focus {
    box-shadow: var(--secondary-focus-ring);
  }

  .btn-secondary.disabled, .btn-secondary:disabled {
    text-shadow: none;
    color: var(--secondary-text-disabled);
    background: var(--secondary-background-disabled);
    border-color: var(--secondary-border-color-disabled);
  }

  .btn-secondary:not(:disabled):not(.disabled):active,
  .btn-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-secondary.dropdown-toggle {
    border-color: var(--secondary-border-color-active);
    background: var(--secondary-background-active);
    color: var(--secondary-text-active);
  }

    .btn-secondary:not(:disabled):not(.disabled):active:focus,
    .btn-secondary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-secondary.dropdown-toggle:focus {
      box-shadow: var(--secondary-focus-ring);
    }

.btn-success {
  border-color: var(--success-border-color);
  background: var(--success-background);
  color: var(--success-text);
  text-shadow: var(--success-text-shadow);
}

  .btn-success:hover, .btn-success:focus, .btn-success.focus {
    border-color: var(--success-border-color-hover);
    background: var(--success-background-hover);
    color: var(--success-text-hover);
  }

  .btn-success:focus, .btn-success.focus {
    box-shadow: var(--success-focus-ring);
  }

  .btn-success.disabled, .btn-success:disabled {
    text-shadow: none;
    color: var(--success-text-disabled);
    background: var(--success-background-disabled);
    border-color: var(--success-border-color-disabled);
  }

  .btn-success:not(:disabled):not(.disabled):active,
  .btn-success:not(:disabled):not(.disabled).active,
  .show > .btn-success.dropdown-toggle {
    border-color: var(--success-border-color-active);
    background: var(--success-background-active);
    color: var(--success-text-active);
  }

    .btn-success:not(:disabled):not(.disabled):active:focus,
    .btn-success:not(:disabled):not(.disabled).active:focus,
    .show > .btn-success.dropdown-toggle:focus {
      box-shadow: var(--success-focus-ring);
    }

.btn-danger {
  border-color: var(--danger-border-color);
  background: var(--danger-background);
  color: var(--danger-text);
  text-shadow: var(--danger-text-shadow);
}

  .btn-danger:hover, .btn-danger:focus, .btn-danger.focus {
    border-color: var(--danger-border-color-hover);
    background: var(--danger-background-hover);
    color: var(--danger-text-hover);
  }

  .btn-danger:focus, .btn-danger.focus {
    box-shadow: var(--danger-focus-ring);
  }

  .btn-danger.disabled, .btn-danger:disabled {
    text-shadow: none;
    color: var(--danger-text-disabled);
    background: var(--danger-background-disabled);
    border-color: var(--danger-border-color-disabled);
  }

  .btn-danger:not(:disabled):not(.disabled):active,
  .btn-danger:not(:disabled):not(.disabled).active,
  .show > .btn-danger.dropdown-toggle {
    border-color: var(--danger-border-color-active);
    background: var(--danger-background-active);
    color: var(--danger-text-active);
  }

    .btn-danger:not(:disabled):not(.disabled):active:focus,
    .btn-danger:not(:disabled):not(.disabled).active:focus,
    .show > .btn-danger.dropdown-toggle:focus {
      box-shadow: var(--danger-focus-ring);
    }

.btn-warning {
  border-color: var(--warning-border-color);
  background: var(--warning-background);
  color: var(--warning-text);
  text-shadow: var(--warning-text-shadow);
}

  .btn-warning:hover, .btn-warning:focus, .btn-warning.focus {
    border-color: var(--warning-border-color-hover);
    background: var(--warning-background-hover);
    color: var(--warning-text-hover);
  }

  .btn-warning:focus, .btn-warning.focus {
    box-shadow: var(--warning-focus-ring);
  }

  .btn-warning.disabled, .btn-warning:disabled {
    text-shadow: none;
    color: var(--warning-text-disabled);
    background: var(--warning-background-disabled);
    border-color: var(--warning-border-color-disabled);
  }

  .btn-warning:not(:disabled):not(.disabled):active,
  .btn-warning:not(:disabled):not(.disabled).active,
  .show > .btn-warning.dropdown-toggle {
    border-color: var(--warning-border-color-active);
    background: var(--warning-background-active);
    color: var(--warning-text-active);
  }

    .btn-warning:not(:disabled):not(.disabled):active:focus,
    .btn-warning:not(:disabled):not(.disabled).active:focus,
    .show > .btn-warning.dropdown-toggle:focus {
      box-shadow: var(--warning-focus-ring);
    }

.btn-info {
  border-color: var(--info-border-color);
  background: var(--info-background);
  color: var(--info-text);
  text-shadow: var(--info-text-shadow);
}

  .btn-info:hover, .btn-info:focus, .btn-info.focus {
    border-color: var(--info-border-color-hover);
    background: var(--info-background-hover);
    color: var(--info-text-hover);
  }

  .btn-info:focus, .btn-info.focus {
    box-shadow: var(--info-focus-ring);
  }

  .btn-info.disabled, .btn-info:disabled {
    text-shadow: none;
    color: var(--info-text-disabled);
    background: var(--info-background-disabled);
    border-color: var(--info-border-color-disabled);
  }

  .btn-info:not(:disabled):not(.disabled):active,
  .btn-info:not(:disabled):not(.disabled).active,
  .show > .btn-info.dropdown-toggle {
    border-color: var(--info-border-color-active);
    background: var(--info-background-active);
    color: var(--info-text-active);
  }

    .btn-info:not(:disabled):not(.disabled):active:focus,
    .btn-info:not(:disabled):not(.disabled).active:focus,
    .show > .btn-info.dropdown-toggle:focus {
      box-shadow: var(--info-focus-ring);
    }

.btn-light {
  border-color: var(--light-border-color);
  background: var(--light-background);
  color: var(--light-text);
  text-shadow: var(--light-text-shadow);
}

  .btn-light:hover, .btn-light:focus, .btn-light.focus {
    border-color: var(--light-border-color-hover);
    background: var(--light-background-hover);
    color: var(--light-text-hover);
  }

  .btn-light:focus, .btn-light.focus {
    box-shadow: var(--light-focus-ring);
  }

  .btn-light.disabled, .btn-light:disabled {
    text-shadow: none;
    color: var(--light-text-disabled);
    background: var(--light-background-disabled);
    border-color: var(--light-border-color-disabled);
  }

  .btn-light:not(:disabled):not(.disabled):active,
  .btn-light:not(:disabled):not(.disabled).active,
  .show > .btn-light.dropdown-toggle {
    border-color: var(--light-border-color-active);
    background: var(--light-background-active);
    color: var(--light-text-active);
  }

    .btn-light:not(:disabled):not(.disabled):active:focus,
    .btn-light:not(:disabled):not(.disabled).active:focus,
    .show > .btn-light.dropdown-toggle:focus {
      box-shadow: var(--light-focus-ring);
    }

.btn-dark {
  border-color: var(--dark-border-color);
  background: var(--dark-background);
  color: var(--dark-text);
  text-shadow: var(--dark-text-shadow);
}

  .btn-dark:hover, .btn-dark:focus, .btn-dark.focus {
    border-color: var(--dark-border-color-hover);
    background: var(--dark-background-hover);
    color: var(--dark-text-hover);
  }

  .btn-dark:focus, .btn-dark.focus {
    box-shadow: var(--dark-focus-ring);
  }

  .btn-dark.disabled, .btn-dark:disabled {
    text-shadow: none;
    color: var(--dark-text-disabled);
    background: var(--dark-background-disabled);
    border-color: var(--dark-border-color-disabled);
  }

  .btn-dark:not(:disabled):not(.disabled):active,
  .btn-dark:not(:disabled):not(.disabled).active,
  .show > .btn-dark.dropdown-toggle {
    border-color: var(--dark-border-color-active);
    background: var(--dark-background-active);
    color: var(--dark-text-active);
  }

    .btn-dark:not(:disabled):not(.disabled):active:focus,
    .btn-dark:not(:disabled):not(.disabled).active:focus,
    .show > .btn-dark.dropdown-toggle:focus {
      box-shadow: var(--dark-focus-ring);
    }

/* Checkboxes */
.form-check-input[type=checkbox] {
  border-color: var(--secondary-border-color);
  background: var(--secondary-background);
  color: var(--secondary-text);
  text-shadow: var(--secondary-text-shadow);
}

  .form-check-input[type=checkbox]:hover,
  .form-check-input[type=checkbox]:focus,
  .form-check-input[type=checkbox].focus {
    border-color: var(--secondary-border-color-hover);
    background: var(--secondary-background-hover);
    color: var(--secondary-text-hover);
  }

  .form-check-input[type=checkbox]:focus,
  form-check-input[type=checkbox].focus {
    box-shadow: var(--secondary-focus-ring);
  }

  .form-check-input[type=checkbox].disabled,
  .form-check-input[type=checkbox]:disabled {
    text-shadow: none;
    color: var(--secondary-text-disabled);
    background: var(--secondary-background-disabled);
    border-color: var(--secondary-border-color-disabled);
  }

  .form-check-input[type=checkbox]:not(:disabled):not(.disabled):active,
  .form-check-input[type=checkbox]:not(:disabled):not(.disabled).active {
    border-color: var(--secondary-border-color-active);
    background: var(--secondary-background-active);
    color: var(--secondary-text-active);
  }

    .form-check-input[type=checkbox]:not(:disabled):not(.disabled):active:focus,
    .form-check-input[type=checkbox]:not(:disabled):not(.disabled).active:focus {
      box-shadow: var(--secondary-focus-ring);
    }

  .form-check-input[type=checkbox]:checked {
    border-color: var(--primary-border-color);
    background: var(--checkbox-check), var(--primary-background);
    color: var(--primary-text);
    text-shadow: var(--primary-text-shadow);
  }

    .form-check-input[type=checkbox]:checked:hover,
    .form-check-input[type=checkbox]:checked:focus,
    .form-check-input[type=checkbox]:checked.focus {
      border-color: var(--primary-border-color-hover);
      background: var(--checkbox-check), var(--primary-background-hover);
      color: var(--primary-text-hover);
    }

    .form-check-input[type=checkbox]:checked:focus,
    form-check-input[type=checkbox]:checked.focus {
      box-shadow: var(--primary-focus-ring);
    }

    .form-check-input[type=checkbox]:checked.disabled,
    .form-check-input[type=checkbox]:checked:disabled {
      text-shadow: none;
      color: var(--primary-text-disabled);
      background: var(--checkbox-check), var(--primary-background-disabled);
      border-color: var(--primary-border-color-disabled);
    }

    .form-check-input[type=checkbox]:checked:not(:disabled):not(.disabled):active,
    .form-check-input[type=checkbox]:checked:not(:disabled):not(.disabled).active {
      border-color: var(--primary-border-color-active);
      background: var(--checkbox-check), var(--primary-background-active);
      color: var(--primary-text-active);
    }

      .form-check-input[type=checkbox]:checked:not(:disabled):not(.disabled):active:focus,
      .form-check-input[type=checkbox]:checked:not(:disabled):not(.disabled).active:focus {
        box-shadow: var(--primary-focus-ring);
      }

/* Radios */
.form-check-input[type=radio] {
  border-color: var(--secondary-border-color);
  background: var(--secondary-background);
  color: var(--secondary-text);
  text-shadow: var(--secondary-text-shadow);
}

  .form-check-input[type=radio]:hover,
  .form-check-input[type=radio]:focus,
  .form-check-input[type=radio].focus {
    border-color: var(--secondary-border-color-hover);
    background: var(--secondary-background-hover);
    color: var(--secondary-text-hover);
  }

  .form-check-input[type=radio]:focus,
  form-check-input[type=radio].focus {
    box-shadow: var(--secondary-focus-ring);
  }

  .form-check-input[type=radio].disabled,
  .form-check-input[type=radio]:disabled {
    text-shadow: none;
    color: var(--secondary-text-disabled);
    background: var(--secondary-background-disabled);
    border-color: var(--secondary-border-color-disabled);
  }

  .form-check-input[type=radio]:not(:disabled):not(.disabled):active,
  .form-check-input[type=radio]:not(:disabled):not(.disabled).active {
    border-color: var(--secondary-border-color-active);
    background: var(--secondary-background-active);
    color: var(--secondary-text-active);
  }

    .form-check-input[type=radio]:not(:disabled):not(.disabled):active:focus,
    .form-check-input[type=radio]:not(:disabled):not(.disabled).active:focus {
      box-shadow: var(--secondary-focus-ring);
    }

  .form-check-input[type=radio]:checked {
    border-color: var(--primary-border-color);
    background: var(--radio-check), var(--primary-background);
    color: var(--primary-text);
    text-shadow: var(--primary-text-shadow);
  }

    .form-check-input[type=radio]:checked:hover,
    .form-check-input[type=radio]:checked:focus,
    .form-check-input[type=radio]:checked.focus {
      border-color: var(--primary-border-color-hover);
      background: var(--radio-check), var(--primary-background-hover);
      color: var(--primary-text-hover);
    }

    .form-check-input[type=radio]:checked:focus,
    form-check-input[type=radio]:checked.focus {
      box-shadow: var(--primary-focus-ring);
    }

    .form-check-input[type=radio]:checked.disabled,
    .form-check-input[type=radio]:checked:disabled {
      text-shadow: none;
      color: var(--primary-text-disabled);
      background: var(--radio-check), var(--primary-background-disabled);
      border-color: var(--primary-border-color-disabled);
    }

    .form-check-input[type=radio]:checked:not(:disabled):not(.disabled):active,
    .form-check-input[type=radio]:checked:not(:disabled):not(.disabled).active {
      border-color: var(--primary-border-color-active);
      background: var(--radio-check), var(--primary-background-active);
      color: var(--primary-text-active);
    }

      .form-check-input[type=radio]:checked:not(:disabled):not(.disabled):active:focus,
      .form-check-input[type=radio]:checked:not(:disabled):not(.disabled).active:focus {
        box-shadow: var(--primary-focus-ring);
      }

/* Tabs */
.list-group-item {
  background: var(--tab-bg);
  border: 1px solid var(--tab-border);
  color: var(--tab-text);
}

  .list-group-item.active {
    color: var(--tab-active-text);
    background: var(--tab-active-bg);
    border-color: var(--tab-active-border);
  }

.list-group-item-action:hover:not(.active), .list-group-item-action:focus:not(.active) {
  color: var(--tab-hover-text);
  background: var(--tab-hover-bg);
}

/* Alerts */
.alert {
  border-radius: var(--border-radius);
  border-width: 1px;
  border-style: solid;
  padding: 0.5rem 0.75rem;
  box-shadow: var(--element-shadow);
}

.alert-primary {
  border-color: var(--alert-primary-border);
  background: var(--alert-primary-background);
  color: var(--alert-primary-text);
}

.alert-secondary {
  border-color: var(--alert-secondary-border);
  background: var(--alert-secondary-background);
  color: var(--alert-secondary-text);
}

.alert-success {
  border-color: var(--alert-success-border);
  background: var(--alert-success-background);
  color: var(--alert-success-text);
}

.alert-danger {
  border-color: var(--alert-danger-border);
  background: var(--alert-danger-background);
  color: var(--alert-danger-text);
}

.alert-warning {
  border-color: var(--alert-warning-border);
  background: var(--alert-warning-background);
  color: var(--alert-warning-text);
}

.alert-info {
  border-color: var(--alert-info-border);
  background: var(--alert-info-background);
  color: var(--alert-info-text);
}

.alert-light {
  border-color: var(--alert-light-border);
  background: var(--alert-light-background);
  color: var(--alert-light-text);
}

.alert-dark {
  border-color: var(--alert-dark-border);
  background: var(--alert-dark-background);
  color: var(--alert-dark-text);
}

/* Progress Bars */
.progress {
  border-radius: var(--border-radius);
  border-width: 1px;
  border-style: solid;
  box-shadow: var(--element-shadow);
  border-color: var(--progress-border);
  background: var(--progress-background);
  color: var(--progress-text);
  padding: 0px;
  height: 1.5rem;
}

@keyframes progress-bar-stripes {
  0% {
    background-position-x: 20rem;
  }
}

.progress-bar {
  border-radius: var(--border-radius);
  border-width: 1px;
  border-style: solid;
  animation: 3s linear infinite progress-bar-stripes;
  border-color: var(--progress-primary-border-color);
  color: var(--progress-primary-text);
  text-shadow: var(--progress-primary-text-shadow);
  background: var(--progress-primary-stripes), var(--progress-primary-background);
  background-size: 20rem 1.5rem !important;
}

.progress-bar-static {
  animation: none;
}

.progress-bar.bg-success {
  border-color: var(--progress-success-border-color);
  color: var(--progress-success-text);
  text-shadow: var(--progress-success-text-shadow);
  background: var(--progress-success-stripes), var(--progress-success-background);
}

.progress-bar.bg-info {
  border-color: var(--progress-info-border-color);
  color: var(--progress-info-text);
  text-shadow: var(--progress-info-text-shadow);
  background: var(--progress-info-stripes), var(--progress-info-background);
}

.progress-bar.bg-warning {
  border-color: var(--progress-warning-border-color);
  color: var(--progress-warning-text);
  text-shadow: var(--progress-warning-text-shadow);
  background: var(--progress-warning-stripes), var(--progress-warning-background);
}

.progress-bar.bg-danger {
  border-color: var(--progress-danger-border-color);
  color: var(--progress-danger-text);
  text-shadow: var(--progress-danger-text-shadow);
  background: var(--progress-danger-stripes), var(--progress-danger-background);
}

/* Fields */
.form-control {
  border: 1px solid var(--editor-border);
  background: var(--editor-background);
  color: var(--editor-text);
  border-radius: var(--border-radius);
}

.custom-file-label {
  border: 1px solid var(--editor-border);
  background: var(--editor-background);
  color: var(--editor-placeholder-text);
  border-radius: var(--border-radius);
}

  .custom-file-label::after {
    border-left: 1px solid var(--file-button-border);
    color: var(--file-button-text);
    background: var(--file-button-bg);
    border-radius: 0;
  }

.custom-file-input:focus ~ .custom-file-label {
  border: 1px solid var(--editor-border-focus);
  background: var(--editor-background);
  color: var(--editor-text);
  outline: 0;
  box-shadow: var(--editor-focus-ring);
}

.button-row {
  display: flex;
  justify-content: flex-end;
  padding: 0 15px;
}

  .button-row button {
    margin-right: 0.25rem;
  }

    .button-row button:last-child {
      margin-right: 0;
    }

.framed-image {
  border-radius: var(--border-radius);
  border: 4px solid white;
  box-shadow: var(--element-shadow);
  max-height: 300px;
  max-width: 100%;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar {
  border-bottom: 1px solid var(--navbar-border);
  background: var(--navbar-bg);
  box-shadow: 0 0.25rem 0.75rem var(--navbar-shadow);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  padding: 0.5rem;
  color: var(--navbar-text);
  margin-bottom: 1rem;
}

.navbar-nav {
  flex-direction: row;
}

.nav-item {
  margin: 0 0.25rem;
}

.nav-link {
  color: var(--navbar-text);
  padding: 0.25rem !important;
  line-height: 1rem;
}

.nav-item ion-icon {
  font-size: 1.5rem;
  font-weight: 900;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0;
  background: linear-gradient(-50deg, var(--brand-color-1), var(--brand-color-2));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-decoration: none !important;
}

  .navbar-brand:hover, .navbar-brand:focus {
    color: var(--brand-color);
    opacity: 0.9;
  }
