@font-face {
  font-family: "Oxygen";
  src: url(oxygen/Oxygen-Regular.ttf);
}

@font-face {
  font-family: "Oxygen";
  src: url(oxygen/Oxygen-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Oxygen";
  src: url(oxygen/Oxygen-Light.ttf);
  font-weight: lighter;
}

html {
  font: 16px "Oxygen", sans-serif;
}

@media (min-width: 768px) {
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
