@page
@{
  ViewData["Title"] = "UI Elements";
}

<div>
  <h1>h1 heading</h1>
  <h2>h2 heading</h2>
  <h3>h3 heading</h3>
  <h4>h4 heading</h4>
  <h5>h5 heading</h5>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Turpis egestas maecenas pharetra convallis posuere morbi leo urna molestie.
    Proin sagittis nisl rhoncus mattis. In fermentum posuere urna nec tincidunt praesent semper feugiat.
    Sociis natoque penatibus et magnis dis parturient.
    Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper.
    A cras semper auctor neque. Interdum velit laoreet id donec ultrices tincidunt arcu non sodales.
    Lacus luctus accumsan tortor posuere ac. Vitae semper quis lectus nulla.
  </p>

  <p>
    Ut sem nulla pharetra diam sit amet nisl suscipit. Nulla at volutpat diam ut venenatis tellus in metus.
    Volutpat odio facilisis mauris sit amet massa vitae tortor. Donec ac odio tempor orci dapibus ultrices in.
    Faucibus purus in massa tempor nec feugiat. Senectus et netus et malesuada fames ac.
    Tincidunt lobortis feugiat vivamus at. Non sodales neque sodales ut etiam sit amet nisl purus.
    Curabitur gravida arcu ac tortor. Nunc eget lorem dolor sed viverra ipsum.
  </p>
</div>

<div>
  <h2>Buttons</h2>

  <div class="button-panel">
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-link">Link</button>
  </div>

  <div class="button-panel">
    <button type="button" class="btn btn-primary" disabled>Primary</button>
    <button type="button" class="btn btn-secondary" disabled>Secondary</button>
    <button type="button" class="btn btn-success" disabled>Success</button>
    <button type="button" class="btn btn-danger" disabled>Danger</button>
    <button type="button" class="btn btn-warning" disabled>Warning</button>
    <button type="button" class="btn btn-info" disabled>Info</button>
    <button type="button" class="btn btn-light" disabled>Light</button>
    <button type="button" class="btn btn-dark" disabled>Dark</button>
    <button type="button" class="btn btn-link" disabled>Link</button>
  </div>
</div>

<div>
  <h2>Alerts</h2>

  <div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
  </div>

  <div class="alert alert-secondary" role="alert">
    A simple secondary alert—check it out!
  </div>

  <div class="alert alert-success" role="alert">
    A simple success alert—check it out!
  </div>

  <div class="alert alert-danger" role="alert">
    A simple danger alert—check it out!
  </div>

  <div class="alert alert-warning" role="alert">
    A simple warning alert—check it out!
  </div>

  <div class="alert alert-info" role="alert">
    A simple info alert—check it out!
  </div>

  <div class="alert alert-light" role="alert">
    A simple light alert—check it out!
  </div>

  <div class="alert alert-dark" role="alert">
    A simple dark alert—check it out!
  </div>
</div>

<div>
  <h2>Progress Bars</h2>

  <div class="progress-strip">
    <div class="progress" id="progress1">
      <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">10%</div>
    </div>
    <div class="progress" id="progress2">
      <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">25%</div>
    </div>
    <div class="progress" id="progress3">
      <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">50%</div>
    </div>
    <div class="progress" id="progress4">
      <div class="progress-bar bg-warning" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">75%</div>
    </div>
    <div class="progress" id="progress5">
      <div class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">100%</div>
    </div>
  </div>
</div>

<div>
  <h2>Image</h2>

  <img src="~/img/test.jpg" class="framed-image" />
</div>

<div>
  <h2>Checkboxes</h2>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Default checkbox
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
      Checked checkbox
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled>
    <label class="form-check-label" for="flexCheckDisabled">
      Disabled checkbox
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
    <label class="form-check-label" for="flexCheckCheckedDisabled">
      Disabled checked checkbox
    </label>
  </div>
</div>

<div>
  <h2>Radios</h2>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
      Default radio
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
    <label class="form-check-label" for="flexRadioDefault2">
      Default checked radio
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
    <label class="form-check-label" for="flexRadioDisabled">
      Disabled radio
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioCheckedDisabled" checked disabled>
    <label class="form-check-label" for="flexRadioCheckedDisabled">
      Disabled checked radio
    </label>
  </div>
</div>

<script>
  // Fake a task progressing on all the progress bars (go to 100% then
  // jump back to 0% forever)
  let progress = 0;
  setInterval(() => {
    for (let i = 1; i <= 5; i++) {
      setProgress(`#progress${i}`, progress);
    }

    progress = (progress >= 100) ? 0 : progress + 1;
  }, 300);
</script>